.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  gap: 15px;
  background: map-get($colors, blackBackground);
  &__description {
    width: 320px;
    @include font-source-roboto(12px, map-get($colors, fontLight), 400, 20px);
    @include mq("tablet") {
      width: 100%;
    }
  }
  &__socials-list {
    display: flex;
    gap: 5px;
  }
  &__socials-link {
    text-decoration: none;
    .rss {
      @include iconColor(map-get($iconColor, rss));
      @include iconWrap;
    }
    .facebook {
      @include iconColor(map-get($iconColor, facebook));
      @include iconWrap;
    }
    .twitter {
      @include iconColor(map-get($iconColor, twitter));
      @include iconWrap;
    }
    .dribbble {
      @include iconColor(map-get($iconColor, dribbble));
      @include iconWrap;
    }
    .pinterest {
      @include iconColor(map-get($iconColor, pinterest));
      @include iconWrap;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq("tablet") {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
  &__contact-link {
    display: block;
    text-decoration: none;
    position: relative;
    @include font-source-roboto(14px, map-get($colors, fontLight), 400, 24px);
    &:nth-child(1):after,
    &:nth-child(2):after {
      content: "/";
      position: absolute;
      right: -15px;
    }
  }
}
