//Pseudo

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

//Font styles

@mixin font-source-roboto($size: false, $colour: false, $weight: false, $lh: false, $ls: false) {
  font-family: "Roboto", Arial, sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

//Media queries

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Icon wrap

@mixin iconWrap {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

@mixin iconColor($color) {
  color: $color;
  border: 2px solid $color;
}
