@import "variables";
@import "fonts";
@import "mixins";
@import "reset";
@import "btn";
@import "nav";
@import "hero";
@import "post";
@import "title";
@import "instagram";
@import "footer";

.container {
  box-sizing: border-box;
  padding: 20px;
  @include mq("tablet") {
    width: 768px;
    margin: auto;
  }
  @include mq("desktop") {
    min-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  @include mq("tablet") {
    margin-top: 10px;
    // justify-content: space-between;
  }
}
