// $phone: 320px;
$tablet: 768px;
$desktop: 1200px;

//colors

$colors: (
  whiteBackground: #ffffff,
  navBackground: #f5f5f5,
  navHover: #e5e5e5,
  blackBackground: #000000,
  hover: #57a4a4,
  fontBlack: #4e4e4e,
  fontGrey: #7c7c7c,
  fontDark: #5c5c5c,
  fontWhite: #fefefe,
  fontLight: #b9b9b9,
);

//icon colors

$iconColor: (
  rss: #f8902e,
  facebook: #39599f,
  twitter: #45b0e3,
  dribbble: #d97ab0,
  pinterest: #cc212c,
);

// breakpoints

$breakpoints: (
  "phone": 400px,
  "tablet": 768px,
  "desktop": 1200px,
);
